[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
python-coveralls = "*"
sphinx = "*"

[packages]
blessings = "*"
click = "*"
colorama = "*"
Jinja2 = "*"
python-box = "*"
